:root {
    --darkback:rgb(10, 10, 10);
    --font: #151810;
    --button: rgba(255,255,100, 0.8);
    --lively: #ffff00;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    margin: 2rem 2rem;
}
.header {
    padding: 1rem 6rem;
    background: thistle;
}
.copy-hex, .project-yt-link, .generator-button {
    background: var(--darkback);
    padding: 0.5rem;
    color: white;
    border-color: white;
}
.copy-hex {
    padding: 0.5rem;
}


a {
    border-color: white;
    color: white;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 2.6rem;
}

